
#formAlert{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    padding: 0 1em;
    display: none;
    gap: 7px;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 12px;
}

#infoIcon{
    font-size: 1.5rem;
    cursor: pointer;
}

#formAlert > p{
    display: none;
}

#formAlert.show{
    background-color: rgb(214, 214, 214);
}

#formAlert.show > p{
    display: block;
}