
#formAlert{
    position: absolute;
    top: 10px;
    right: 10px;
    /* width: 200px; */
    /* height: 120px; */
    /* background-color: rgb(214, 214, 214); */
    padding: 0 0 1em 1em;
    display: grid;
    border-top-right-radius: 10px;
}

#infoIcon{
    font-size: 1.5rem;
    place-self: end;
    cursor: pointer;
}

#formAlert > p{
    place-self: top;
    display: none;
}

#formAlert.show{
    width: 200px;
    height: 120px;
    background-color: rgb(214, 214, 214);
}

#formAlert.show > p{
    display: block;
}