*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: aliceblue;
    border: 0;
    padding: 0;
    margin: 0;
}

body > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    padding: 2em;
}

body > div > div{
    height: 300px;
    /* width: 300px; */
    border-radius: 15px;
    border: 1px solid black;
}
