
#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: grid;
    place-items: center;
    border: none;
    height: auto;
    width: auto;
}

#spinner{
    width: 80px;
    height: 80px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid blue;
    border-radius: 50%;
    animation: spinnerAnim 500ms infinite forwards;
}

#loading p{
    font-size: 1.2rem;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

@keyframes spinnerAnim {
    to{
        transform: rotate(1turn);
    }
}