@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

.note{
    position: relative;
}

.note textarea{
    font-family: 'Lobster Two', 'cursive';
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1em;
    width: 100%;
    height: 300px;
    resize: none;
    border-radius: 15px;
    color: black;
}

.note > div{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.note > div:nth-child(2){
    left: 10px;
}

.note > div:nth-child(2) > img{
    align-self: start;
}

.note > div:last-child{
    right: 10px;
}

.note > div:last-child > img{
    align-self: end;
}

.note > p{
    position: absolute;
    font-size: 1.2rem;
    color: white;
    bottom: 0;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 50%)
}

.note > div .divMenu{
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    /* padding: 1em; */
}

.divMenu > div{
    display: flex;
    align-items: center;
    gap: 13px;
    width: 120px;
    cursor: pointer;
    padding: .5em;
    height: 3rem;
}

.divMenu > div:not(:last-child){
    border-bottom: 1px black solid;
}

.note > div > img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.formNote{
    position: relative;
}

.formNote textarea{
    width: 100%;
    height: 300px;
    resize: none;
    padding: 1em;
    border-radius: 15px;
    font-size: 1.3rem;
}

.formNote img{
    width: 30px;
    height: 50px;
    background-color: transparent;
}

.formNote > img{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}

.formNote button{
    position: absolute;
    bottom: 3px;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.formNote button:hover{
    transform: translate(5px, -5px);
    transition: transform ease-out 500ms;
}
