@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

.note{
    position: relative;
}

.note textarea{
    font-family: 'Lobster Two', 'cursive';
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1em;
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 15px;
    color: black;
}

.note > div > img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.note > div:nth-child(2){
    position: absolute;
    bottom: 0;
    left: 7px;
}

.note div:last-child{
    position: absolute;
    bottom: 0;
    right: 7px;
}

.divMenu{
    padding: 1em;
    background-color: white;
    height: 70px
}

.divMenu > div{
    display: flex;
    cursor: pointer;
}

.divMenu > div *{
    margin: 0 auto;
}

.divMenu > div > img{
    flex-basis: 30%;
}
