*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
}

body > div{
    padding: 2em;
}

body > div > div{
    height: 350px;
    width: 350px;
}

#addDiv{
    display: grid;
    place-items: center;
    background-color: rgb(169, 163, 163);
}

#addDiv img{
    width: 50px;
    height: 50px;
}